@import url("//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon");
@font-face {font-family: "Pokemon";
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}

/* Modal Override */

.modal-dialog {
    height: 100% !important;
}

body {
    background-color: #DFD5A5 !important;
}
.nav h4 {
    color: #3c3731 !important;
    margin: auto 0 auto 15px;
    font-family: "Pokemon";
    letter-spacing: 2px;
    text-shadow: -1px 0 floralwhite, 0 1px floralwhite, 1px 0 floralwhite, 0 -1px floralwhite;
}

.nav h4:hover {
    color: floralwhite !important;
    text-shadow: -1px 0 #3c3731, 0 1px #3c3731, 1px 0 #3c3731, 0 -1px #3c3731;
    cursor: pointer;
}

main {
    padding: 10px;
}

main>h4, .gen-header>h4 {
    color: #3c3731 !important;
    font-family: "Pokemon";
    letter-spacing: 2px;
    text-shadow: -1px 0 floralwhite, 0 1px floralwhite, 1px 0 floralwhite, 0 -1px floralwhite;
    margin: 20px 0 20px 15px;
}

h1 {
    color: #FAFAFA;
}


h6, p {
    color: #72767E;
}

.loader-container {
    top: 10px;
    left: 175px;
    position: absolute;
}

.loader-container>img{
    width: 50px;
}

.favorite {
    align-self: center;
    position: relative;
    left: 2px;
    height: 32px !important;
    width: 32px !important;
    background-color: #3c3731;
    color: #ffc107;
    border-top: 2px solid #877b6f;
    border-left: 2px solid #877b6f;
    border-bottom: 2px solid #877b6f;
    border-right: 2px solid #877b6f;
    border-radius: 14px 0 0 4px;
    padding: 4px;
    margin: 2px 0 2px 0!important;
}

.not-favorite {
    align-self: center;
    position: relative;
    left: 2px;
    height: 32px !important;
    width: 32px !important;
    background-color: #3c3731;
    color: #dee2e6;
    border-top: 2px solid #877b6f;
    border-left: 2px solid #877b6f;
    border-bottom: 2px solid #877b6f;
    border-right: 2px solid #877b6f;
    border-radius: 14px 0 0 4px;
    padding: 4px;
    margin: 2px 0 2px 0!important;
}

.grid-container {
    display: grid;
    grid-template-columns: 172px;
    grid-template-rows: 186px;
    justify-content: center;
    grid-gap: 30px;
    border: 2px solid #4b453e;
    background-color: #628395;
    border-radius: 10px;
    padding: 40px 0;
}

.grid-item {
    flex-direction: column;
    transition: transform .2s;
}

.grid-item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.false {
    display: none;
}

.true {
    display: flex;
}

.gen-header {
    display: flex;

}

.gen-header>div {
    background-color: floralwhite;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    margin: auto 0 auto 15px;
}

.gen-header>div:hover {
    background-color: lightskyblue;
}

.gen-header>div>.toggle-gen {
    color: #3c3731 !important;
    width: 100%;
    height: 100%;
}

.image-radius {
    border-radius: 50%;
    margin: 5px;
}

.image-radius img {
    height: 140px;
    border-radius: 100%;
    border: 2px solid #d8cedd;
    box-shadow: 5px 10px 18px #173238;
    padding: 10px;
    background-image: radial-gradient(circle, #DFD5A5, #699562);
}

.typeIcon1>div>img {
    position: relative;
    bottom: 115px;
    left: 68px;
    width: 30px;
    border: 2px solid #22252a;
    border-radius: 100%;
}

.typeIcon2>div>img {
    position: relative;
    bottom: 178px;
    left: 64px;
    width: 30px;
    border: 2px solid #22252a;
    border-radius: 100%;
}

/*.typeIcon2Modal>div>img {*/
/*    width: 30px;*/
/*    border: 2px solid #22252a;*/
/*    border-radius: 100%;*/
/*}*/

/* applied to fix positioning issues if 2nd type is not available */
.typeIcon2 {
    height: 30px;
}

.typeIcon2>div {
    height: 100%;
}

.left-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin: 0 auto;
}

.left-card p {
    margin: 2px 0 2px 0!important;
    width: 140px;
    text-align: center;
    color: #181613 !important;
    border-top: 2px solid #877b6f;
    border-right: 2px solid #877b6f;
    border-bottom: 2px solid #877b6f;
    border-radius: 0 4px 14px 0;
    padding: 2px 16px;
    background-color: #c9c095;
}

.dex-entry {
    position: relative;
    top: 125px;
    left: 65px;
    font-size: 12px;
    border: 2px solid;
    border-radius: 4px;
    background-color: floralwhite;
    padding: 0 3px;
}

.name-block {
    position: relative;
    bottom: 25px;
}

.right-card1 {
    display: flex;
    align-self: center;
    position: relative;
    bottom: 57px;
    flex-direction: column;
    width: 160px;
    border: 2px solid #c9c095;
    border-left: none;
    border-radius: 10px;
    background-color: #DFD5A5;
}

.right-card2 {
    display: flex;
    align-self: center;
    position: relative;
    bottom: 87px;
    flex-direction: column;
    width: 160px;
    border: 2px solid #c9c095;
    border-left: none;
    border-radius: 10px;
    background-color: #DFD5A5;
}

.right-card-p {
    margin: 1px 0 !important;
    color: #181613 !important;
    border: 2px solid #e5ddb7;
    border-radius: 10px;
    padding: 6px;
    background-color: #c9c095;
}

.grid-item:nth-child(odd) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-item:nth-child(even) {
    grid-column-start: 2;
    grid-column-end: 3;
}

@media only screen and (min-width : 768px) {
    .grid-container {
        grid-template-columns: auto auto auto auto;
    }

    .grid-item:nth-child(4n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(4n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(4n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-item:nth-child(4n+4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: auto auto auto auto auto;
    }

    .grid-item:nth-child(5n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(5n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(5n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-item:nth-child(5n+4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .grid-item:nth-child(5n+5) {
        grid-column-start: 5;
        grid-column-end: 6;
    }
}

@media (min-width: 1250px) {
    .grid-container {
        grid-template-columns: auto auto auto auto auto auto;
    }

    .grid-item:nth-child(6n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(6n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(6n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-item:nth-child(6n+4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .grid-item:nth-child(6n+5) {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .grid-item:nth-child(6n+6) {
        grid-column-start: 6;
        grid-column-end: 7;
    }
}

@media (min-width: 1440px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: 186px;
    }

    .grid-item:nth-child(7n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(7n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(7n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-item:nth-child(7n+4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .grid-item:nth-child(7n+5) {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .grid-item:nth-child(7n+6) {
        grid-column-start: 6;
        grid-column-end: 7;
    }

    .grid-item:nth-child(7n+7) {
        grid-column-start: 7;
        grid-column-end: 8;
    }
}

@media (min-width: 2560px) {
    .grid-container {
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    }

    .grid-item:nth-child(13n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(13n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(13n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-item:nth-child(13n+4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .grid-item:nth-child(13n+5) {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .grid-item:nth-child(13n+6) {
        grid-column-start: 6;
        grid-column-end: 7;
    }

    .grid-item:nth-child(13n+7) {
        grid-column-start: 7;
        grid-column-end: 8;
    }

    .grid-item:nth-child(13n+8) {
        grid-column-start: 8;
        grid-column-end: 9;
    }

    .grid-item:nth-child(13n+9) {
        grid-column-start: 9;
        grid-column-end: 10;
    }

    .grid-item:nth-child(13n+10) {
        grid-column-start: 10;
        grid-column-end: 11;
    }

    .grid-item:nth-child(13n+11) {
        grid-column-start: 11;
        grid-column-end: 12;
    }

    .grid-item:nth-child(13n+12) {
        grid-column-start: 12;
        grid-column-end: 13;
    }

    .grid-item:nth-child(13n+13) {
        grid-column-start: 13;
        grid-column-end: 14;
    }
}