@import url("//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon");
@font-face {font-family: "Pokemon";
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}
/*
COLOR PALETTE FROM DISCORD:
    (outside-to-inside)

    * side bar/search bar background-color : #202225
        - search bar placeholder text color/icon color: #72767E
        - icon background-color: #36393F
        - icon content color: #36393F

    * channel/member bars background-color : #2F3136
        - text/icon color: #36393F
        - demarcation line color: #232527
        * (active) channel background color: #393C43
            - text color: #FFF
            - icon color: #B9BBBE
            - # color: #72767E
        * user block background-color: #292B2F
            - username text color: #FFF
            - secondary font/icon color: #B9BBBE

    * chat background-color: #36393F
        - primary demarcation line color: #2C2E32
        - primary text color: #FAFAFA
        - secondary text color: #72767E
        - tertiary text color: #41A3DF
        - profile icon color: #FFF
        - primary icon color: #B9BBBE
        - special icon color: #5AB682
        - secondary demarcation line and text color: #72767E
        * card background-color: #2F3136
            - primary text color: #DCDDDE
            - secondary text color: #44AAEA
        * user chatbox background-color: #2E3339
            - chatbox placeholder text color: #72767E
            - icon color: #B9BBBE
        * scroll bar
            - primary color: #202225
            - secondary color: #2E3339
*/
body {
    background-color: #DFD5A5 !important;
}
.nav h4 {
    color: #3c3731 !important;
    margin: auto 0 auto 15px;
    font-family: "Pokemon";
    letter-spacing: 2px;
    text-shadow: -1px 0 floralwhite, 0 1px floralwhite, 1px 0 floralwhite, 0 -1px floralwhite;
}

main {
    padding: 10px;
}

main>h4 {
    color: #3c3731 !important;
    font-family: "Pokemon";
    letter-spacing: 2px;
    text-shadow: -1px 0 floralwhite, 0 1px floralwhite, 1px 0 floralwhite, 0 -1px floralwhite;
    margin: 20px 0 20px 15px;
}

h1 {
    color: #FAFAFA;
}


h6, p {
    color: #72767E;
}

/*card styling*/
.card {
    background-color: #2F3136 !important;
}
.card h2 {
    color: #FEFEFE;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 30px;
    border: 2px solid #4b453e;
    background-color: #628395;
    border-radius: 10px;
    padding: 40px 0;
}

.grid-item {
    display: flex;
    width: 360px;
    transition: transform .2s;
}

.grid-item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-radius {
    border-radius: 50%;
    margin: 5px;
}

.image-radius img {
    height: 140px;
    border-radius: 100%;
    border: 2px solid #786e62;
    padding: 10px;
    background-image: radial-gradient(circle, #DFD5A5, #699562);
}

.left-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid #c9c095;
    border-right: 2px solid #b2aa84;
    border-bottom: 2px solid #c9c095;
    border-left: 2px solid #c9c095;
    border-radius: 10px 0 0 10px;
    background-color: #CF995F;
}

.left-card p {
    margin: 2px 0 5px 0!important;
    color: #181613 !important;
    border: 2px solid #877b6f;
    border-radius: 10px;
    padding: 2px 16px;
    background-color: #c9c095;
}

.right-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid #c9c095;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    background-color: #DFD5A5;
}

.right-card>p {
    margin: 7px 0 !important;
    color: #181613 !important;
    border: 2px solid #e5ddb7;
    border-radius: 10px;
    padding: 6px;
    background-color: #c9c095;
}

.right-card>div {
    display: flex;
    width: 190px;
    margin: 7px 0 !important;
    color: #181613 !important;
    border: 2px solid #e5ddb7;
    border-radius: 10px;
    padding: 6px;
    background-color: #c9c095;
}

.right-card>div>div {
    display: flex;
    margin-left: 3px;
}

.right-card div p {
    margin: auto 0 !important;
    color: #181613 !important;
}

.right-card>div>div>div {
    display: flex;
    justify-content: center;
    color: #302c25;
    width: 63px;
    border: 2px solid #696056;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
}

@media only screen and (min-width : 768px) and (max-width: 1092px) {
    .grid-item:nth-child(odd) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(even) {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media (min-width: 1092px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }

    .grid-item:nth-child(3n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(3n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(3n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

/*@media (min-width: 1440px) {*/
/*    .grid-container {*/
/*        grid-template-columns: auto auto auto auto;*/
/*    }*/

/*    .grid-item:nth-child(4n+1) {*/
/*        grid-column-start: 1;*/
/*        grid-column-end: 2;*/
/*    }*/

/*    .grid-item:nth-child(4n+2) {*/
/*        grid-column-start: 2;*/
/*        grid-column-end: 3;*/
/*    }*/

/*    .grid-item:nth-child(4n+3) {*/
/*        grid-column-start: 3;*/
/*        grid-column-end: 4;*/
/*    }*/

/*    .grid-item:nth-child(4n+4) {*/
/*        grid-column-start: 4;*/
/*        grid-column-end: 5;*/
/*    }*/
/*}*/