@import url("//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon");
@font-face {font-family: "Pokemon";
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}

body {
    background-color: #f1f1f1;
}

.title-cont {
    display: flex;
    width: 45%;
    background-color: #F2503C;
}

.home {
    margin: auto;
    background-color: #F2503C;
    color: floralwhite;
    font-family: "Pokemon";
    letter-spacing: 2px;
    text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
    transition: transform .2s;
}

.home:hover {
    color: floralwhite !important;
    text-shadow: -1px 0 #3c3731, 0 1px #3c3731, 1px 0 #3c3731, 0 -1px #3c3731;
    cursor: pointer;
    transform: scale(1.1);
}

main {
    position: absolute;
    top: 60px;
}

main>h4 {
    color: #3c3731 !important;
    font-family: "Pokemon";
    letter-spacing: 2px;
    text-shadow: -1px 0 floralwhite, 0 1px floralwhite, 1px 0 floralwhite, 0 -1px floralwhite;
    margin: 20px 0 20px 15px;
}

h1 {
    color: #FAFAFA;
}


h6, p {
    color: #72767E;
}

.loader-container {
    top: 10px;
    left: 47%;
    position: absolute;
}

.loader-container>img{
    width: 50px;
}

.favorite {
    align-self: center;
    position: relative;
    left: 2px;
    height: 32px !important;
    width: 32px !important;
    background-color: #3c3731;
    color: #ffc107;
    border-top: 2px solid #dadada;
    border-left: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
    border-right: 2px solid #d5d3cd;
    border-radius: 14px 0 0 4px;
    padding: 4px;
    margin: 2px 0 2px 0!important;
}

.not-favorite {
    align-self: center;
    position: relative;
    left: 2px;
    height: 32px !important;
    width: 32px !important;
    background-color: #3c3731;
    color: #ffffff;
    border-top: 2px solid #dadada;
    border-left: 2px solid #d2d2d2;
    border-bottom: 2px solid #d2d2d2;
    border-right: 2px solid #d2d2d2;
    border-radius: 14px 0 0 4px;
    padding: 4px;
    margin: 2px 0 2px 0!important;
}

.grid-container {
    display: grid;
    grid-template-columns: 172px;
    grid-template-rows: 186px;
    justify-content: center;
    grid-gap: 30px;
    border-radius: 10px;
    padding: 50px 20px;
}

.grid-item {
    flex-direction: column;
    transition: transform .2s;
}

.grid-item:hover, .get-grid-item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.false {
    display: none;
}

.true {
    display: flex;
}

.hide-gen-section {
    display:none;
    transform: translateX(0);
    transition: transform ease-in 0.5s;
}

.show-gen-section {
    display: flex;
    border-bottom: 6px dashed #f2503c;
    margin: 10px;
    justify-content: center;
    transform: translateX(0%);
    transition: transform ease-out 0.5s;
}

.gen-header-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    margin-top: 105px;
    width: 100%;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.gen-header {
    display: flex;
    width: 105px;
    margin: 10px 0;
    background-color: #f2503c;
    border: 2px solid;
    border-radius: 20px 0 0 20px;
    transition: transform .2s;
}

.gen-header-hide {
    display: flex;
    width: 105px;
    margin: 10px 0;
    background-color: #d0ced2;
    border: 2px solid;
    border-radius: 20px 0 0 20px;
    transition: transform .2s;
}

.gen-header:hover, .gen-header-hide:hover  {
    cursor: pointer;
    transform: scale(1.1);
}

.gen-header>h4, .gen-header-hide>h4 {
    color: #3c3731 !important;
    font-family: "Pokemon";
    letter-spacing: 2px;
    text-shadow: -1px 0 floralwhite, 0 1px floralwhite, 1px 0 floralwhite, 0 -1px floralwhite;
    margin: 10px 0 10px 15px;
}

.gen-header>div, .gen-header-hide>div {
    background-color: floralwhite;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    margin: auto 0 auto 15px;
}

.gen-header>div:hover {
    background-color: lightskyblue;
}

.gen-header>div>.toggle-gen, .gen-header-hide>div>.toggle-gen {
    color: #3c3731 !important;
    width: 100%;
    height: 100%;
}

.image-radius {
    border-radius: 50%;
    margin: 5px;
}

.image-radius img {
    height: 140px;
    border-radius: 100%;
    border: 2px solid #f4fbeb;
    box-shadow: 5px 10px 40px #000000;
    padding: 10px;
    background-image: radial-gradient(circle, #fcffff, #b9a67f);
}

.typeIcon1>div>img {
    position: relative;
    bottom: 115px;
    left: 68px;
    width: 30px;
    border: 2px solid #22252a;
    border-radius: 100%;
}

.typeIcon2>div>img {
    position: relative;
    bottom: 178px;
    left: 64px;
    width: 30px;
    border: 2px solid #22252a;
    border-radius: 100%;
}

/* applied to fix positioning issues if 2nd type is not available */
.typeIcon2 {
    height: 30px;
}

.typeIcon2>div {
    height: 100%;
}

.left-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #212121;
    justify-content: space-evenly;
    height: 100%;
    margin: 0 auto;
}

.left-card p {
    margin: 2px 0 2px 0!important;
    width: 140px;
    text-align: center;
    color: #212121 !important;
    text-shadow: -1px 0 #dedede, 0 1px #dedede, 1px 0 #dedede, 0 -1px #dedede;
    border-top: 2px solid #212528;
    border-right: 2px solid #212528;
    border-bottom: 2px solid #212528;
    border-radius: 0 4px 14px 0;
    padding: 2px 16px;
    background-color: #fffaf0;
}

.dex-entry {
    position: relative;
    top: 125px;
    left: 65px;
    font-size: 12px;
    border: 2px solid;
    border-radius: 4px;
    background-color: floralwhite;
    padding: 0 3px;
}

.name-block {
    position: relative;
    bottom: 25px;
}

.right-card1 {
    display: flex;
    align-self: center;
    position: relative;
    bottom: 57px;
    flex-direction: column;
    width: 160px;
    border: 2px solid #c9c095;
    border-left: none;
    border-radius: 10px;
    background-color: #DFD5A5;
}

.right-card2 {
    display: flex;
    align-self: center;
    position: relative;
    bottom: 87px;
    flex-direction: column;
    width: 160px;
    border: 2px solid #c9c095;
    border-left: none;
    border-radius: 10px;
    background-color: #DFD5A5;
}

.right-card-p {
    margin: 1px 0 !important;
    color: #181613 !important;
    border: 2px solid #e5ddb7;
    border-radius: 10px;
    padding: 6px;
    background-color: #c9c095;
}

.get-grid-item {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-item:nth-child(odd) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-item:nth-child(even) {
    grid-column-start: 2;
    grid-column-end: 3;
}

@media only screen and (min-width : 768px) {
    .title-cont {
        width: 30%;
    }

    .loader-container {
        left: 32%;
    }

    .gen-header, .gen-header-hide {
        width: 120px;
        padding: 0 20px 0 0;
    }

    .show-gen-section {
        position: relative;
        left: 0;
    }

    .grid-container {
        grid-template-columns: auto auto auto;
    }

    .grid-item:nth-child(3n+1), .get-grid-item:nth-child(3n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(3n+2), .get-grid-item:nth-child(3n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(3n+3), .get-grid-item:nth-child(3n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

@media (min-width: 1024px) {
    .title-cont {
        width: 25%;
    }

    .loader-container {
        left: 27%;
    }

    .grid-container {
        grid-template-columns: auto auto auto auto;
    }

    .grid-item:nth-child(4n+1), .get-grid-item:nth-child(4n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(4n+2), .get-grid-item:nth-child(4n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(4n+3), .get-grid-item:nth-child(4n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-item:nth-child(4n+4), .get-grid-item:nth-child(4n+4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }
}

@media (min-width: 1150px) {
    .grid-container {
        grid-template-columns: auto auto auto auto auto;
    }

    .grid-item:nth-child(5n+1), .get-grid-item:nth-child(5n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(5n+2), .get-grid-item:nth-child(5n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(5n+3), .get-grid-item:nth-child(5n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-item:nth-child(5n+4), .get-grid-item:nth-child(5n+4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .grid-item:nth-child(5n+5), .get-grid-item:nth-child(5n+5) {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    /*.grid-item:nth-child(6n+6), .get-grid-item:nth-child(6n+6) {*/
    /*    grid-column-start: 6;*/
    /*    grid-column-end: 7;*/
    /*}*/
}

@media (min-width: 1390px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: 186px;
    }

    .grid-item:nth-child(6n+1), .get-grid-item:nth-child(6n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(6n+2), .get-grid-item:nth-child(6n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(6n+3), .get-grid-item:nth-child(6n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-item:nth-child(6n+4), .get-grid-item:nth-child(6n+4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .grid-item:nth-child(6n+5), .get-grid-item:nth-child(6n+5) {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .grid-item:nth-child(6n+6), .get-grid-item:nth-child(6n+6) {
        grid-column-start: 6;
        grid-column-end: 7;
    }
}

@media (min-width: 2560px) {
    .grid-container {
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    }

    .grid-item:nth-child(12n+1), .get-grid-item:nth-child(12n+1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-item:nth-child(12n+2), .get-grid-item:nth-child(12n+2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .grid-item:nth-child(12n+3), .get-grid-item:nth-child(12n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-item:nth-child(12n+4), .get-grid-item:nth-child(12n+4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .grid-item:nth-child(12n+5), .get-grid-item:nth-child(12n+5) {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .grid-item:nth-child(12n+6), .get-grid-item:nth-child(12n+6) {
        grid-column-start: 6;
        grid-column-end: 7;
    }

    .grid-item:nth-child(12n+7), .get-grid-item:nth-child(12n+7) {
        grid-column-start: 7;
        grid-column-end: 8;
    }

    .grid-item:nth-child(12n+8), .get-grid-item:nth-child(12n+8) {
        grid-column-start: 8;
        grid-column-end: 9;
    }

    .grid-item:nth-child(12n+9), .get-grid-item:nth-child(12n+9) {
        grid-column-start: 9;
        grid-column-end: 10;
    }

    .grid-item:nth-child(12n+10), .get-grid-item:nth-child(12n+10) {
        grid-column-start: 10;
        grid-column-end: 11;
    }

    .grid-item:nth-child(12n+11), .get-grid-item:nth-child(12n+11) {
        grid-column-start: 11;
        grid-column-end: 12;
    }

    .grid-item:nth-child(12n+12), .get-grid-item:nth-child(12n+12) {
        grid-column-start: 12;
        grid-column-end: 13;
    }
}