.nav {
    display: flex;
    position: fixed;
    z-index: 1500;
    width: 100%;
    background-image: linear-gradient(
            -65deg
            , black 55%, #ea4e3a 45%);
    border-top: 2px solid #4b453e;
    border-bottom: 2px solid #4b453e;
}

.nav .pokeball:focus {
    outline: none;
}
.nav .buttonInner {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    outline:none
}
.nav .pokeball {
    position: relative;
    height: 44px;
    width: 44px;
    border: 2px solid black;
    border-radius: 50%;
}
.closedPokeball {
    border: 3px solid lightskyblue;
}

.closedPokeball:hover {
    border: 3px solid darkorange;
}
.openPokeball {
    border: 3px solid darkorange;
}

.dropdown-toggle::after {
    display: none !important;
}

.icons-block {
    display: inline-block;
    position: relative;
    margin-left: auto;
}
.pokeball-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    margin: 0;
    width: 50px;
    padding: 0;
    z-index: 1500;
}

.dropdown-link {
    display: flex;
    text-decoration: none;
    height: 68px;
}

.icon-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 85px;
    right: 10px;
    border-radius: 100px;
    transition: transform .2s;
}

.icon-cont>img {
    height: 70px;
    background-color: #fcffff;
    border-radius: 100px;
}

.search-container {
    display: flex;
    position: relative;
    left: 46px;
    transition: transform .2s;
}

.search-container:nth-child(2) {
    display: flex;
    align-self: center;
    height: 35px;
    position: relative;
    left: 60px;
    transition: transform .2s;
}

.search-icon {
    align-self: center;
    color: #FCFFFF;
    transition: transform .2s;
}

.right-caret {
    align-self: center;
    margin-right: 6px;
    color: #FCFFFF;
    transition: transform .2s;
}

.search-hide {
    display: none;
}

.search-show {
    display: block;
}

.round-input {
    border-radius: 16px;
    width: 140px;
    padding-left: 8px;
    background-color: #FCFFFF;
    border: 3px solid lightskyblue;
    transition: transform .2s;
}

.round-input:hover {
    border-radius: 16px;
    width: 140px;
    padding-left: 8px;
    border: 3px solid darkorange;
}
.round-input:focus {
    outline: none;
}

.circular {
    border-radius: 50%;
}

.all-types {
    background-color: #101010;
    border-radius: 50%;
    border: 3px solid lightskyblue;
    margin: 0;
    padding: 0;
    height: 36px;
    width: 36px;
}

.all-types:hover, .all-types-active:hover, .hover {
    cursor: pointer;
}

.all-types:hover {
    border: 3px solid darkorange;
}

.hover:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.all-types-active {
    background-color: #101010;
    border-radius: 50%;
    border: 3px solid darkorange;
    margin: 0;
    padding: 0;
    height: 36px;
    width: 36px;
}

.center-icon {
    margin-left: auto;
    margin-right: auto;
    height: 32px;
}

.profile-link {
    border-radius: 50%;
    color: lightskyblue;
}

.profile-link:hover {
    color: darkorange;
}

@media (max-width: 363px) and (max-height: 811px) {
    .nav {
        height: 50px;
    }

    .dropdown-link {
        height: 50px;
    }

    .search-container {
        left: 40px;
    }

    .search-icon {
        width: .75em !important;
    }

    .icon-cont {
        top: 58px;
        right: 12px;
    }

    .icon-cont>img {
        height: 50px;
    }

}

@media only screen and (min-width : 768px) {
    .nav {
        background-image: linear-gradient(
                -65deg
                , black 70%, #ea4e3a 30%);
    }
}

@media (min-width: 1024px) {
    .nav {
        background-image: linear-gradient(
                -65deg
                , black 75%, #ea4e3a 25%);
    }
}

