/* Modal Override */
.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-content {
    top: 166px;
    width: 375px !important;
    margin: 0 auto;
}

.pokemon-card {
    background-image: radial-gradient(circle, #ffc2b1, #F8724C);
}

h5 {
    margin: 0 !important;
    color: #FBFAFA;
}

h6 {
    margin: 0 !important;
}

.left-poke-card {
    display: flex;
    width: 353px;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px 0 10px;
}

.img-cont {
    margin: 25px 0 0 0;
}

.pokemon-img {
    height: 160px;
    transition: transform .2s;
}

.poke-name-block {
    width: 321px;
    border-radius: 4px;
    background-image: linear-gradient(
            -65deg
            , black 70%, #ea4e3a 30%);
    justify-content: space-evenly;
    margin: 0 0 auto 0;
    transition: transform .2s;
}



.poke-name-block>h6 {
    color: #FBFAFA;
    align-self: center;
    text-align: center;
    width: 30%;
}

.poke-name-block>div {
    border-radius: 0 4px 4px 0;
    justify-content: space-evenly;
    width: 70%;
}

.pokeball-modal {
    align-self: center;
    width: 22px;
    height: 22px;
}

.left-card-info-cont {
    width: 100%;
    margin: auto 0 0 0;
}

.left-card-info {
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, #DBD9DB 25%, #d0ced2 26%, #FFFDFF 25%);
    border-radius: 4px;
    margin: 0 15px 20px 15px;
}

.left-card-info>h6 {

}

.left-card-info>div {
    align-items: center;
    border-bottom: 1px solid #d0ced2;
}

.left-card-info>div:nth-child(3) {
    border-bottom: none;
}

.left-card-attr>div:nth-child(1) {
    width: 25%;
    text-align: center;
}

.left-card-attr {
    height: 32px;
}

.left-card-attr>h6, .left-card-attr>div>h6 {
    padding: 3px;
}

.hgt-wgt-margin {
    margin: 0 auto !important;
    transition: transform .2s;
}

.card-info-space {
    width: 50%;
    text-align: center;
}

.right-poke-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 30px 10px;
}

.right-card-info-cont {
    width: 100%;
    transition: transform .2s;
}

.right-card-info {
    margin: 0 15px 20px 15px;
}

.right-card-inner:nth-child(1) {
    width: 50%;
    border-radius: 4px 0 0 4px;
    background-image: linear-gradient(to right, #DBD9DB 49%, #d0ced2 50%, #FFFDFF 51%, #FFFDFF 99%,#d0ced2 100%);
}

.right-card-inner:nth-child(2) {
    width: 50%;
    border-radius: 0 4px 4px 0;
    background-image: linear-gradient(to right, #DBD9DB 49%, #d0ced2 50%, #FFFDFF 51%, #FFFDFF 99%,#d0ced2 100%);
}

.stat-block {
    align-items: center;
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #d0ced2;
}

.cont-flex {
    display: flex;
}

.types-cont {
    width: 75%;
    text-align: center;
    transition: transform .2s;
}

.typeIconModal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    transition: transform .2s;
}

.typeIconModal>div {
    display: flex;
    height: 24px;
    border: 1px solid #4B5448;
    border-radius: 14px 0 0 14px;
    background-color: #4B5448;
}

.typeIconModal>div>img {
    position: relative;
}

.typeIconModal>h6 {
    position: relative;
    right: 1px;
    color: #FCFFFF;
    background-color: #4B5448;
    border-radius: 0 4px 4px 0;
    height: 24px;
}

.radar-cont {
    width: 325px;
    height: 186px;
    padding: 10px;
    background-color: #FCFFFF;
    border: 1px solid #DBD9DB;
    border-radius: 4px;
    margin: 20px 15px;
    transition: transform .2s;
}

/*HOVER*/
.poke-name-block:hover,
.typeIconModal:hover,
.hgt-wgt-margin:hover,
.types-cont:hover,
.radar-cont:hover,
.right-card-info-cont:hover,
.pokemon-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 750px !important;
    }

    .modal-content {
        max-width: 100% !important;
        width: 750px !important;
    }

    .left-poke-card {
        width: 300px;
        margin: 30px 10px;
    }

    .left-card-info {
        border-radius: 4px;
        margin: 20px 15px;
    }

    .img-cont {
        margin: 0;
    }

    .poke-name-block {
        width: 270px;
    }

    .right-poke-card {
        margin: 30px 10px;
    }

    .radar-cont {
        width: 350px;
        margin: 0 15px 30px 15px;
    }

    .pokemon-card {
        display: flex;
    }
}